<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lock in</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Lock in</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            {% if not user.is_authenticated: %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login')}}">Login</a>
            </li>
            {% endif %}
            {% if user.is_authenticated: %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('myTasks')}}">My tasks</a>
            </li>
            {% if user.team_id != ''%}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('teamTasks')}}">Team tasks</a>
            </li>
            {% if user.is_admin == 1%}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('teamDashboard')}}">Team Dashboard</a>
            </li>
            {% endif %}
            {% endif %}
            {% if user.team_id == '' %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('joinTeam')}}">Join team</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('createTeam')}}">Create team</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">Log Out</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}
    <div class="container-fluid" id="footer">
      <div class="row">
        <div class="col col-sm-12 col-lg-12">
          <p id="footer-p">&copyLock in 2024 made by <a id="footer-a"href="https://github.com/ibtyog/">Piotr Hirkyj</a></p>
        </div>
      </div>
    </div>

  </body>
</html>

