{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row" id="row-h">
        <div class="col col-lg-12">
            <h1 id="welcome-h">Welcome to lock in!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12" id="form-r">
            <div id="form-box">
                <form action="{{url_for('createTeam')}}" method="post" style="display: block;">
                    <input type="text" name="team_name" class="form-area" placeholder="Team name" required>
                    <input class="btn btn-outline-dark" id="submit-b" type="submit" value="Create team">
                    <p>or <a href="{{url_for('joinTeam')}}">Join team!</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}