{% extends "base.html" %} {% block content %}

<div class="container-fluid">
    <div class="row" id="row-h">
        <div class="col col-lg-12">
            <h1 id="welcome-h">Create team invitation</h1>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12" id="form-r">
            <div id="form-box">
                <form action="#" method="post" style="display: block;">
                    <input type="number" name="no_uses" class="form-area">
                    <input class="btn btn-outline-dark" id="submit-b" type="submit" value="Create">
                </form>
            </div>
        </div>
        <div id="register-p"class="col col-lg-12">
            <p>Go back to team <a href="{{url_for('teamDashboard')}}">dashboard.</a></p>
        </div>
    </div>
</div>

{% endblock %}