{% extends "base.html" %} {% block content %}
<section id="index-section">
<div class="container-fluid">
  <div class="row">
     <div class="col col-lg-4 col-md-12 col-sm-12 card-cont">
        <div class="team-desc">
            {% if current_user.team_id != '' %}
           <h3>You are a member of</h3>
           <h4>{{team.team_name}}</h4>
           <p5 id="warn-p">If you want to abadon your team, press button below</p5>
           <a href="{{url_for('leaveTeam')}}"><button class="btn btn-outline-light">Leave team</button></a>
           {% endif %}
           {% if current_user.team_id == '' %}
           <h3>It's always better to work in team!</h3>
           <a href="{{url_for('joinTeam')}}"><button  class="btn btn-outline-light">Join team</button></a>
           <a href="{{url_for('createTeam')}}"><button  class="btn btn-outline-light">Create team</button></a>
           {% endif %}
        </div>
     </div>
     <div class="col col-lg-4 col-md-12 col-sm-12 card-cont">
        <div class="card" style="width: 18rem;">
           <div class="card-body">
              <h5 class="card-title">Latest personal tasks</h5>
           </div>
           <ul class="list-group list-group-flush">
              {% for task in tasks: %}
              <li class="list-group-item">{{task.title}} - due: {{task.str_time}}</li>
              {% endfor %}
           </ul>
           <div class="card-body">
              <a href="{{url_for('myTasks')}}" class="card-link"><button class="btn btn-dark">All tasks</button></a>
           </div>
        </div>
     </div>
     <div class="col col-lg-4 col-md-12 col-sm-12 card-cont">
         {% if current_user.team_id != ''%}
        <div class="card" style="width: 18rem;">
           <div class="card-body">
              <h5 class="card-title">Latest team tasks</h5>
           </div>
           <ul class="list-group list-group-flush">
              <li class="list-group-item">task 1</li>
              <li class="list-group-item">task 2</li>
              <li class="list-group-item">task 3</li>
           </ul>
           <div class="card-body">
              <a href="#" class="card-link"><button class="btn btn-dark">All tasks</button></a>
           </div>
        </div>
        {% endif %}
     </div>
  </div>
</section>
{% endblock %}