{% extends "base.html" %} {% block content %}


<div class="container-fluid">
    <div class="row" id="row-h">
        <div class="col col-lg-12">
            <h1 id="welcome-h">Welcome back!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12" id="form-r">
            <div id="form-box">
                <form action="#" method="post" style="display: block;">
                    <input type="email" name="email" class="form-area" placeholder="E-mail">
                    <input type="password" name="password" class="form-area" placeholder="Password">
                    <input class="btn btn-outline-dark" id="submit-b" type="submit" value="Sign in">
                    <p>or <a href="{{url_for('register')}}">Sign up now!</a></p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}