{% extends "base.html" %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item dark-list">Task description - due - is done?</li>
                <li class="list-group-item dark-list">A second item - 24.03.2024 - <a href="">Task complete</a></li>
                <li class="list-group-item dark-list">A third item</li>
                <li class="list-group-item dark-list">A fourth item</li>
                <li class="list-group-item dark-list">And a fifth one</li>
              </ul>
        </div>
        
        <div class="col-lg-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item dark-list">Expired tasks</li>
                <li class="list-group-item dark-list">A second item - 24.03.2024 - <a href="">Task complete</a></li>
                <li class="list-group-item dark-list">A third item</li>
                <li class="list-group-item dark-list">A fourth item</li>
                <li class="list-group-item dark-list">And a fifth one</li>
              </ul>
        </div>
    </div>
</div>

{% endblock %}