{% extends "base.html" %} {% block content %}

<div class="container-fluid">
    <div class="row">
        {% if mc != []: %}
        <div class="col col-lg-6 col-md-12 card-cont">
            <ul class="list-group list-group-flush">
                <li class="list-group-item light-list">My current tasks</li>
                {% for task in mc: %}
                <li class="list-group-item light-list">{{task.title}} - {{task.str_time}} - <a href="{{url_for('teamTaskDone', task_id=task.id)}}">Task complete</a></li>
                {% endfor %}
              </ul>
        </div>
        {% endif %}

        {% if me != []: %}
        <div class="col col-lg-6 col-md-12 card-cont">
            <ul class="list-group list-group-flush">
                <li class="list-group-item light-list">My expired tasks</li>
                {% for task in me: %}
                <li class="list-group-item light-list">{{task.title}} - {{task.str_time}} - <a href="{{url_for('teamTaskDone', task_id=task.id)}}">Task complete</a></li>
                {% endfor %}
              </ul>
        </div>
        {% endif %}

        {% if oc != []: %}
        <div class="col col-lg-6 col-md-12 card-cont">
            <ul class="list-group list-group-flush">
                <li class="list-group-item light-list">Team's current tasks</li>
                {% for task in oc: %}
                <li class="list-group-item light-list">{{task.title}} - {{task.str_time}}</li>
                {% endfor %}
              </ul>
        </div>
        {% endif %}

        {% if oe != []: %}
        <div class="col col-lg-6 col-md-12 card-cont">
            <ul class="list-group list-group-flush">
                <li class="list-group-item light-list">Team's expired tasks</li>
                {% for task in oe: %}
                <li class="list-group-item light-list">{{task.title}} - {{task.str_time}}</li>
                {% endfor %}
              </ul>
        </div>
        {% endif %}
        
        
    </div>
</div>

{% endblock %}