{% extends "base.html" %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-12 card-cont">
            <button class="btn btn-dark">Create task</button>
            <button class="btn btn-dark">Create invite code</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item dark-list">Members</li>
                <li class="list-group-item dark-list">member 1 username - <a href="">Add task</a> - <a href="">Remove member</a></li>
                <li class="list-group-item dark-list">A third item</li>
              </ul>
        </div>
        
    </div>
</div>

{% endblock %}